.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darkgray;
    }
  }
  