.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #E84C3D;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: white;
  }
  
  .modal-header {
    position: relative;
    background-color: #D44638;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .modal-close {
    cursor: pointer;
    font-size: 36px;
    color: white;
  }
  
  
  .modal-content {
    margin-bottom: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center; 
    padding: 10px; 
    align-items: center;
    align-content: center;
  }
  
  .modal-button-delete-ok {
    background-color: #B2382B;
    color: white; 
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
  }
  .modal-button-delete-cancel {
    background-color: #B2382B;
    color: white; 
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 150px 0px 20px;
    cursor: pointer;
  }
  
  .secondModal {
    background-color: rgb(85, 189, 106); 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: white;
  }
  
  .secondModalHeader {
    position: relative;
    background-color: rgb(35, 139, 69); 
    padding: 10px;
    color: white;
  }
  .modal-button-install-ok {
    background-color: rgb(0, 255, 42);
    color: rgb(0, 0, 0); 
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
  }
  .modal-button-install-cancel {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0); 
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 150px 0px 20px;
  }
