.product-card {
    display: inline-block; 
    width: 300px; 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  .product-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
  
  .product-name {
    margin: 10px 0;
  }
  
  .product-price {
    margin: 0;
    font-weight: bold;
  }
  
  .add-to-cart-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .favorite-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.favorite-icon {
  color: #f39c12;
}

.favorite-icon-active {
  color: #e74c3c; 
}

.favorite-button:hover .favorite-icon {
  color: #e67e22;
}

.favorite-button-active .favorite-icon-active {
  color: #c0392b;
}