.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
      justify-content: space-between;
      align-items: center;
    padding: 20px;
    color: white;
    display: flex;
  }
  
  .cart-icons,
  .selected-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  
  .product-list-container {
    display: flex;
    justify-content: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
  .product-card:nth-child(6) {
    grid-row: span 2;
  }
  
  
  .modal-button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .product-card {
    flex: 1 1 calc(20% - 20px); 
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
  }
  
  .product-card:nth-child(5),
  .product-card:nth-child(6),
  .product-card:nth-child(7),
  .product-card:nth-child(8),
  .product-card:nth-child(9) {
    flex-basis: calc(40% - 20px);
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
  }
  
  .product-name {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    color: #f39c12;
    margin: 5px 0;
  }
  
  .favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .favorite-icon {
    transition: color 0.3s;
  }
  
  .favorite-button:hover .favorite-icon {
    color: #c0392b;
  }
  
  .add-to-cart-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #2980b9;
  }
  .menu {
    text-align: center; 
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin: 0 20px;
        font-size: 18px;
        a {
          text-decoration: none;
          color: white; 
          &:hover {
            color: blue; 
          }
        }
      }
    }
  }

  .icons {
    display: flex;
    align-items: center; 
    .count {
      margin-left: 5px;
      font-size: 18px;
    }
  }

  //CHECKOUT FORM STYLES

  .checkout-form {
    background-color: #282c34;
    max-width: 400px;
    margin: 30px auto 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
  
    h3 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 15px;
      margin-right: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  
    .checkout-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    .checkout-button:hover {
      background-color: #0056b3;
    }
  }
  
  .open-form-button {
    margin-top: 20px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .open-form-button:hover {
    background-color: #0056b3;
  }
  
  